@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="text-danger">Error</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    <div class="mt-4">
        <a asp-controller="Media" asp-action="Index" class="btn btn-primary">Return to Home</a>
    </div>
</div>